body {
    margin:0;
}
.header {
    width: 100%;
    height: 100vh;
}
.main-container {
    width: 100%;
    height: 100%;
    background-color: #254E58;
    background-size: 30px 30px;
    background-position: -5px -5px
  }
.cards-holder {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 80%;
}
.card {
    height: 30vh;
    width: 50vh;
    background-color: #669493;
    margin: 20px;
    margin-left:-75%;
    border-radius:5%;
    position:relative;
}

.card-img {
    height:95%;
    width:45%;
    position: absolute;
    top:7px;
    right: 5px;
    border-radius:5%;
}

.card-title {
    padding: 10px;
    font-size: 1.5em;
    color: white;
}

.card1-title {
    position: absolute;
    top:40%;
    left:6%;
}

.card2-title {
    padding: 10px;
    font-size: 1.5em;
    color: white;
    position: absolute;
    top:5%;
    left:6%;
}

.my-info {
    position: absolute;
    font-size: 1.3em;
    top: 25%;
    left: -1%
}

.my-info ul {
    list-style-type: none;
    color: white;
}

.my-info li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.my-info li span {
    color: #d3ebea;
    width: 150px;
    margin-right: 60px;
}
  
.my-info li strong {
    color: white;
    flex: 1;
    text-align: right;
}

.card3-title {
    position: absolute;
    top:5%;
    left:6%;
}

.tag-container {
    position: absolute;
    top: 30%;
    left: 7%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}
  
.tag {
    background-color: #65e8e48e;
    color: white; 
    padding: 8px 16px;
    border-radius: 20px; 
    font-size: 16px;
    font-weight: 500; 
}

.big-card {
    height: 95vh;
    width: 110vh;
    background-color: #669493;
    margin: 20px;
    border-radius:2%;
    position: absolute;
    right: 5%;
}


.big-card-info {
    position: absolute;
    top:3%;
    left:4%;
    color: white; 
    font-size: 1.3em;
    top: 10%;
    margin-right:3%;
}

ul {
    list-style: none;
  }
  
  li::after {
    content: "";
    display: block;
    height: 0px;
    transition: height 0.3s ease-in-out;
    pointer-events: none;
  }
  
  li:hover::after {
    height: 10px;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    bottom: -40px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  .example-2 .icon-content a[data-social="spotify"] .filled,
  .example-2 .icon-content a[data-social="spotify"] ~ .tooltip {
    background-color: #1db954;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="discord"] .filled,
.example-2 .icon-content a[data-social="discord"] ~ .tooltip {
  background-color: #7289da;
}
  .example-2 .icon-content a[data-social="telegram"] .filled,
  .example-2 .icon-content a[data-social="telegram"] ~ .tooltip {
    background-color: #0088cc;
  }



.buttons {
    position: absolute;
    bottom: 4%;
    left: 33%;
}

.big-card-projects {
    height: 95vh;
    width: 110vh;
    background-color: #669493;
    margin: 20px;
    border-radius:2%;
    position: absolute;
    right: 5%;
}
  